<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-4618521591194407">
    
    {% seo %} 
    
    <!--<link rel="stylesheet" href="/assets/css/style.css"> -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4618521591194407" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        </header>

    <main>
        {{ content }} 
    </main>

    <footer>
        </footer>
</body>
</html>
